:root {
    --lightPurple: #F0E6EF;
    --purple: #9C89B8;
    --lavender: #B8BEDD;
    --lilac: #EFC3E6;  
    
    --lightTan: #F2E9E4;
    --tan: #C9ADA7;
    --purpleGray: #9A8C98;
    --navy: #4A4E69;
    --darkNavy: #22223B;
}

body {
    background-color: var(--lightTan);
    margin: 6rem;
    text-align: center;
}

.image {
    border-radius: 50%;
    margin-right: 1.5rem;
    width: 150px;
    height: 150px;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.header-info {
    display: flex;
    flex-direction: column;
}

.header-text-item {
    text-align: left;
    margin: 0.25rem;
}

.socials {
    display: flex;
    flex-flow: row wrap;
}

.socials-item {
    text-decoration: none;
    color: inherit;
    margin: 0.25rem;
    padding: 0.5em;
    background-color: var(--purpleGray);
    color: var(--darkNavy);
}

.socials-item:hover{
    background-color: var(--navy);
    color: var(--lightTan);
}

@media (max-width: 586px){   
    .image {
        margin: 0;
    }
    .header-info {
        align-items: center;
    }
}
