:root {
  --darkestPurple: rgb(105, 102, 138);
  --darkPurple: rgb(136, 124, 157);
  --darkMedPurple: rgb(160, 147, 181);
  --medPurple: rgb(184, 171, 206);
  --medLightPurple: rgb(212, 203, 228);
  --lightPurple: rgb(226, 220, 239);
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

hr {
  color: var(--darkestPurple);
  margin: 1rem 0rem;
}

.content-area {
  max-width: 70%;
  margin: 0rem auto;
}

.content-area * {
  font-family: "Merriweather Sans", sans-serif;
  line-height: 1.75;
}

.content-area h1,
.content-area h2,
.content-area h3,
.content-area h4 {
  font-family: "Merriweather", serif;
  color: var(--darkPurple);
}

.content-area h1 {
  font-size: xx-large;
}

nav {
  background-color: var(--darkPurple);
  font-family: "Merriweather", serif;
  margin: 0rem auto;
  padding: 0 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.nav-home {
  text-decoration: none;
  color: white;
}

.nav-item {
  padding-left: 1rem;
  text-decoration: none;
  color: white;
}

.nav-item:hover,
.nav-home:hover {
  color: var(--medLightPurple);
}

footer {
  font-family: "Merriweather", serif;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 2.5rem;
}

.socials {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  column-gap: 0.75rem;
}

.button {
  display: inline-block;
  width: fit-content;
  padding: 0.5rem;
  background-color: var(--darkPurple);
  border: solid var(--darkPurple) 0.1rem;
  border-radius: 0.725rem;
  color: white;
  text-decoration: none;
}

.button:hover {
  background-color: var(--medLightPurple);
  color: var(--darkPurple);
  border-color: var(--medLightPurple);
}

.projectImages {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 2rem 0rem;
}

.projectImages img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  max-width: 48%;
}

.multiColumnDiv {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.multiColumnDiv div {
  max-width: 35%;
}

.multiColumnDiv img {
  width: auto;
  max-height: 25rem;      
  object-fit: cover;      
  display: block;
}

mark {
  background: var(--lightPurple);
}

mark.stat {
  font-weight: bold;
}

.goalDiv {
  background-color: var(--darkPurple);  ;
  align-self: center;
  margin: 1rem 0rem;
  padding: 0.05rem 2rem;
  border-radius: 0.75rem;
}

.goalDiv p {
  color: white;
  font-size: large;
  text-align: center;
}

.quotesDiv {
  margin-left: 2rem;
}

.quotesDiv p {
  font-size: large;
  color: var(--darkestPurple)
}


.projectDivFrame {
  margin: 0 auto;
  height: 30rem;
}

.projectDivFrame iframe {
  width: 100%;
  height: 100%;
}

.projectDivImg {
  margin: 1rem 0rem;
  overflow: hidden;
}

.projectDivImg img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  display: block;
  flex-grow: 1;
}

.projectLinksDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.projectTitle {
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  max-width: 18.75rem;
  flex: 1 1 17.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease;
}

.projectTitle:hover {
  transform: scale(1.05);
}

.projectPageImage {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border: solid 0.0625rem var(--darkPurple);
  border-radius: 0.5rem;
}

.projectTitle p {
  margin-top: 0.3125rem;
  font-weight: bold;
  text-align: center;
}

.personasDiv {
  display: flex;
  flex-flow: row wrap;
  column-gap: 10rem;
}

.userPersona {
  display: flex;
  width: fit-content;
  flex-flow: row wrap;
  align-items: center;
}

.personaImage {
  width: 7rem;
  height: auto;
}

.personaDesc {
  margin-top: -1rem;
}

.personaDesc p {
  font-size: large ;
  margin-left: 1.5rem;
}

.personaDesc ul {
  margin-top: -0.75rem;
}


.profileImage {
  display: flex;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: 50% 10%;
  max-width: 30%;
  overflow: hidden;
  border-radius: 2rem;
}

.homeProfile {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  column-gap: 2rem;
  margin: 3rem 0rem;
}

.homeIntro {
  max-width: 65%;
  display: flex;
  flex-flow: column;
}

.homeIntro p {
  margin-top: -0.5rem;
  font-size: x-large;
}

@media (max-width:799px) {
  .content-area {
    max-width: 90%;
  }

  .profileImage {
    max-width: 100%;
    height: 20rem;
  }

  .homeProfile {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .homeIntro {
    max-width: 100%;
    display: flex;
    flex-flow: column;
  }

  .projectImages {
    display: flex;
    flex-flow: column wrap;
    row-gap: 1rem;
  }

  .projectImages img {
    max-width: 100%;
  }

  .multiColumnDiv {
    display: flex;
    flex-flow: column wrap;
  }

  .multiColumnDiv div {
    max-width: 100%;
  }

  .multiColumnDiv img {
    width: 100%;           
    max-height: 250px;
  }
}


@media (min-width: 1500px) {
  .content-area {
    max-width: 60%;
  }
  .projectTitle {
    max-width: 28rem;
  }
  .columnDiv {
    max-width: 40%;
  }
}
