:root {
  --darkestPurple: rgb(105, 102, 138);
  --darkPurple: rgb(136, 124, 157);
  --darkMedPurple: rgb(160, 147, 181);
  --medPurple: rgb(184, 171, 206);
  --medLightPurple: rgb(212, 203, 228);
  --lightPurple: rgb(226, 220, 239);
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

hr {
  color: var(--darkestPurple);
  margin: 1em 0em;
}

.content-area {
  padding: 1.5em 2.5em;
  max-width: 70%;
  margin: 0em auto;
}

.content-area * {
  font-family: "Merriweather Sans", sans-serif;
  line-height: 1.5;
}

.content-area h1,
.content-area h2,
.content-area h3,
.content-area h4 {
  font-family: "Merriweather", serif;
  color: var(--darkPurple);
}

.content-area h1 {
  font-size: xx-large;
}

nav {
  background-color: var(--darkPurple);
  font-family: "Merriweather", serif;
  margin: 0em auto;
  padding: 0 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.nav-home {
  text-decoration: none;
  color: white;
}

.nav-item {
  padding-left: 1em;
  text-decoration: none;
  color: white;
}

.nav-item:hover,
.nav-home:hover {
  color: var(--medLightPurple);
}

footer {
  font-family: "Merriweather", serif;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 2.5em;
}

.socials {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  column-gap: 0.75em;
}

.button {
  display: inline-block;
  width: fit-content;
  padding: 0.5em;
  background-color: var(--darkPurple);
  border: solid var(--darkPurple) 0.1em;
  border-radius: 0.725em;
  color: white;
  text-decoration: none;
}

.button:hover {
  background-color: var(--medLightPurple);
  color: var(--darkPurple);
  border-color: var(--medLightPurple);
}

.projectImages {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 2em 0em;
}

.overviewImage {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  max-width: 48%;
}

.threeColumnDiv {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.columnDiv {
  max-width: 35%;
}

mark.stat {
  background: var(--lightPurple);
  font-weight: bold;
}

.projectLinksDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
  padding: 0.5em 0;
}

.projectTitle {
  padding: 0.5em;
  text-decoration: none;
  color: black;
  max-width: 18.75em;
  flex: 1 1 17.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease;
}

.projectTitle:hover {
  transform: scale(1.05);
}

.projectPageImage {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border: solid 0.0625em var(--darkPurple);
  border-radius: 0.25em;
}

.projectTitle p {
  margin-top: 0.3125em;
  font-weight: bold;
  text-align: center;
}

.userPersona {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.personaImage {
  max-width: 10%;
}

.profileImage {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: 50% 10%;
  max-width: 30%;
}

.homeProfile {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  column-gap: 2em;
  margin: 3em 0em;
}

.homeIntro {
  max-width: 65%;
  display: flex;
  flex-flow: column;
}

.homeIntro p {
  margin-top: -0.5em;
  font-size: x-large;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 600px) {
  .content-area {
    max-width: 100%;
  }

  .profileImage {
    max-width: 100%;
    height: 20em;
  }

  .homeProfile {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .homeIntro {
    max-width: 100%;
    display: flex;
    flex-flow: column;
  }

  .threeColumnDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .columnDiv {
    max-width: 100%;
  }
}

@media (min-width: 1000px) {
  .projectTitle {
    max-width: 22.5em;
  }
}

@media (min-width: 1500px) {
  .content-area {
    max-width: 60%;
  }
  .projectTitle {
    max-width: 28em;
  }
  .columnDiv {
    max-width: 40%;
  }
}
