:root {
  --darkestPurple: rgb(105,102,138);
  --darkPurple: rgb(136,124,157);
  --darkMedPurple: rgb(160,147,181);
  --medPurple: rgb(184,171,206);
  --medLightPurple: rgb(212,203,228);
  --lightPurple: rgb(226,220,239);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--lightPurple);
}

.content-area {
  padding: 1.5em 2.5em;
  max-width: 90%;
  margin: 0em auto;

  /* Adapted from https://css.glass */
  background: rgba(255, 255, 255, 0.45);
  border-radius: 1em;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
  border: solid rgba(255, 255, 255, 0.8) 0.15em;
}

.content-area * {
  font-family: "Merriweather Sans", sans-serif;
  line-height: 1.5;
}

.content-area h1,
.content-area h2,
.content-areah h3 {
  font-family: "Merriweather", serif;
}

h4 {
  margin-bottom: -0.25em;
}

nav {
  font-family: "Merriweather", serif;
  font-size: larger;
  max-width: 90%;
  margin: 0em auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.nav-home {
  text-decoration: none;
  color: black;
}

.nav-item {
  padding-left: 1em;
  text-decoration: none;
  color: black;
}

.nav-item:hover,
.nav-home:hover {
  color: var(--darkestPurple);
}

footer {
  font-family: "Merriweather", serif;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 2.5em;
}

.button {
  display: inline-block;
  margin: 0.1em 0em;
  padding: 0.5em;
  background-color: var(--medLightPurple);
  border: solid var(--darkMedPurple) 0.15em;
  border-radius: 0.625em;
  color: black;
  text-decoration: none;
}

.button:hover {
  background-color: var(--darkMedPurple);
}

/* TIMELINE CSS */

/* actual timeline (vertical ruler) */
.timeline {
  position: relative;
  margin: 0em auto;
}

/* actual timeline (vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 0.5em;
  background-color: var(--darkMedPurple);
  top: 0;
  bottom: 0;
  left: 2.5em;
}

/* container around content */
.timelineContainer {
  padding: 0.5em 2em;
  position: relative;
  background-color: inherit;
  width: 90%;
}

/* circles on vertical ruler */
.timelineContainer::after {
  content: "";
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  background-color: white;
  border: 0.25em solid var(--darkMedPurple);
  top: 1em;
  border-radius: 50%;
  z-index: 1;
}

/* ensure container is placed to the right */
.right {
  left: 2.75em;
}

/* add arrows to container (pointing left)*/
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 1em;
  width: 0;
  z-index: 1;
  left: 1.25em;
  border: medium solid white;
  border-width: 1em 1em 1em 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -1em;
}

.timelineContent {
  padding: 0.5em 2em 2em 2em;
  background-color: white;
  position: relative;
  border-radius: 0.75em;
}

.timelineImage {
  max-width: 100%;
  border: solid black 0.1em;
}
/*********************************************************************/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}
